In [1]:
import pandas as pd

In [8]:
fileCheck=open("items-HAM-11-24-0923.tsv" , 'r', encoding='utf8')

In [9]:
df = pd.read_csv(fileCheck, sep='\t' )

C:\Users\aneslin\.conda\envs\Oracle transformations\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (15,18,22,33,48) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [38]:
df.head()

,KEY,Z30_REC_KEY,Z30_BARCODE,Z30_SUB_LIBRARY,Z30_MATERIAL,Z30_ITEM_STATUS,Z30_OPEN_DATE,Z30_UPDATE_DATE,Z30_DATE_LAST_RETURN,Z30_HOUR_LAST_RETURN,...,Z30_PROCESS_STATUS_DATE,Z30_UPD_TIME_STAMP,prefix,call_number,suffix,folio_location,loanType,material_type,item_status,Z30_COPY_ID
0,014936877000010YBC50,14936877000010,B1310-YBC,YMAIN,BOOK,2,20160201,20160202,0,0,...,20160201,201602020928207,NaN,NaN,NaN,NaN,Non-circulating,Book,Available,NaN
1,014936878000010YBC50,14936878000010,B1311-YBC,YMAIN,BOOK,2,20160201,20160202,0,0,...,20160201,201602020928207,NaN,NaN,NaN,NaN,Non-circulating,Book,Available,NaN
2,014936879000010YBC50,14936879000010,B1312-YBC,YMAIN,BOOK,2,20160201,20160202,0,0,...,20160201,201602020928207,NaN,NaN,NaN,NaN,Non-circulating,Book,Available,NaN
3,014936880000010YBC50,14936880000010,B1313-YBC,YMAIN,BOOK,2,20160201,20160202,0,0,...,20160201,201602020928207,NaN,NaN,NaN,NaN,Non-circulating,Book,Available,NaN
4,014936881000010YBC50,14936881000010,B1314-YBC,YMAIN,BOOK,2,20160201,20160202,0,0,...,20160201,201602020928208,NaN,NaN,NaN,NaN,Non-circulating,Book,Available,NaN

In [11]:
df["loanType"].unique()

array(['Standard Loan', 'Non-circulating', 'Internet', 'Reserve 4 Hour',
       '1 Week', 'Limited', '4 Week', 'Equipment 3 Day', 'Reserve 1 Day',
       '1 Year'], dtype=object)

In [40]:
df["material_type"].value_counts()

Book    29970
Name: material_type, dtype: int64

In [ ]:
fileCheck.close()